<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-encabezado></app-encabezado>
    </div>
    <div class="col-md-9">
      <!-- Main content code here, including the product display and search bar -->
      <h2>Nuestros roductos</h2>
      <ul>
        <ng-container *ngFor="let categoria of categorias">
          <h2>{{categoria}}</h2>
          <li *ngFor="let electrodomestico of electrodomesticos" class="electrodomestico">
            <a *ngIf="electrodomestico.estado === categoria " [routerLink]="['/detalleElectro/', electrodomestico._id]">
              <img src="{{url+'get-imagen/'+electrodomestico.imagen}}" *ngIf="electrodomestico.imagen">
              <h3>{{electrodomestico.nombre}} - {{electrodomestico.precio}}</h3>
            </a>
          </li>
        </ng-container>
      </ul>
      <h2>Busqueda por nombre de producto</h2>
      <input type="text" name="buscar" #buscar="ngModel" [(ngModel)]="nombre" required>
      <button (click)="getElectros()">Buscar</button>

      <ul>
        <li *ngFor="let electro of electros">
          <a [routerLink]="['/detalleElectro/', electro._id]">
            <img src="{{url+'get-imagen/'+electro.imagen}}" *ngIf="electro.imagen">
            <h3>{{electro.nombre}}-{{electro.precio}}</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-pie></app-pie>

